{% extends "layout.njk" %}

{% block content %}
<main>
    <section class="container"> 
        
        <div class="texts">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por proﬁssionais do mundo inteiro.</p>
        </div>

        <div class="image_chef">
            <img src="/images/chef.png" alt="">
        </div>

    </section>

    <section class="revenue">
        <div class="tittle_revenue">
            <h2>Mais acessadas</h2>
        </div>

    <div class="revenue_cards">
        <div class="revenues">
            <img src="images/burger.png" alt="">
            <h3>Triplo Bacon Burguer</h3>
            <p>Por Jorge Relato</p>
        </div>
        <div class="revenues">
            <img src="images/pizza.png" alt="">
            <h3>Pizza 4 estações</h3>
            <p>Por Yuri Felgumon</p>
        </div>
        <div class="revenues">
            <img src="images/espaguete.png" alt="">
            <h3>Espaguete ao alho</h3>
            <p>Por Norma Gundgon</p>
        </div>
        <div class="revenues">
            <img src="images/lasanha.png" alt="">
            <h3>Lasanha Mac 'en Chesse</h3>
            <p>Por Gabrila Forlan</p>
        </div>
        <div class="revenues">
            <img src="images/doce.png" alt="">
            <h3>Docinhos pão do céu</h3>
            <p>Hundrig Folcks</p>
        </div>
        <div class="revenues">
            <img src="images/asinhas.png" alt="">
            <h3>Asinhas de frango ao barbecue</h3>
            <p>Por Neto dLorio</p>
        </div>
    </div>
    </section>
</main>

    <footer class="footer">
        <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>
{% endblock %}