{% extends "layout_admin.njk" %}

{% block content %}
    <section class="card-section-chef">
        <div class="header-section">
            <h2>Chef: {{chefs.name}} </h2>
            <button>Editar Chef</button>
        </div>
        <div class="header-section-avatar">
            <img src="{{chefs.avatar_url}}" alt="">
        </div>
        <div class="header-section-avatar-tittle">
            <h2>Alexandre Santos</h2>
            <p>4 Receitas</p>
        </div>
    </section>
    
    <section>
        <h1 class="tittle-receitas">Receitas</h1>
        <div class="chef-receitas">
            
            <div class="receitas">
                <img class="img-receita" src="https://i.imgur.com/GCXnS7L.png" alt="">
                <div>
                    <h3>Lasanha</h3>
                    <p>Jr Santos</p>
                    <a href="">Visualizar</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}