    <div class="item">
        <div>Imagem da receita</div>
            <div>
                <input 
                    type="url"
                    name="image"
                    placeholder="http://"
                    value=""
                >
            </div>
        </div>

    <div class="item">
            <div>Nome da receita</div>
            <div>
                <input 
                    type="text"
                    name="tittle"
                    placeholder="Digite o nome da receita"
                    value="">
            </div>
    </div>

    <div class="item">
        <div>Chef</div>
            <div>
                <select name="chef">
                    <option value="{{ chef.id }}">
                        Alexandre
                    </option>
                </select>
            </div>
    </div>

    <div id="ingredients"class="item">
        <div>Ingredientes</div>
            <div class="ingredient">
                <input  type="text" name="ingredients" value="" placeholder="Ingrediente" />
            </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

    <div id="pass" class="item">
        <div>Modo de preparo</div>
            <div class="pass-recipe">
                <input name="preparation" type="text" value="">
            </div>
    </div>
    <button type="button" class="add-pass">Adicionar novo passo</button>

    <div class="item">
        <div>Informações Adicionais</div>
            <div>
                <input class="input_size" name="information" type="text" value="">
            </div>
    </div>

