{% extends "layout.njk" %}

{% block head %}
    <title>{{ recipes.tittle }} - Foodfy</title> 
{% endblock %}


{% block content %}

    <div class="wrapper">
        <h1>{{recipes.tittle}}</h1>
    </div>

    <section class="recipe_card ">
            <div class="recipe" id="{{item.id}}">
                <img src="{{ recipes.image }}" alt="">
                
                <h2>Ingredientes</h2>
                <p class="revenue_ingredients">
                   {{recipes.ingredients}}
                </p>

                <h2>Modo de preparo</h2>
                <p class="revenue_description">{{ recipes.preparation }}</p>
                
                <h2>Informações Adicionais</h2>
                <p class="revenue_description">
                    {{ recipes.information }}
                </p>
                <p class="revenue_author">Autor {{ recipes.chef_id }}</p>
            </div>
    </section>

    <footer class="footer">
        <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>
{% endblock %}